* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    font-style: normal;
    font-family: "DM Mono", monospace;
    --bg: #FFFFFF;
    --fg: #202020;
    --accent: #FFCC2A;
    --border: #5A5050;
    --radius: 0.5rem;
}

body {
    overflow-x: hidden;
    display: flex;
    height: 100Vh;
    width: 100vw;
    margin: 0;
    padding: 0.5rem 1rem;
    color: var(--fg);
    background-color: var(--bg);
}

body.dark {
    color: var(--bg);
    background-color: var(--fg);
}

/* FONT ELEMENT */
h2 {
    font-size: clamp(1.25rem, 1rem + 1vw, 1.75rem);
    font-weight: bold;
    color: var(--border);
}

p {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
    color: var(--fg);
}

body.dark p {
    color: var(--bg);
}

/* ---- */
/* MAIN */
/* ---- */

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.card-header,
.card-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

/* ------------- */
/* INPUT SECTION */
/* ------------- */
.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem dashed var(--border);
    border-radius: var(--radius);
    padding: 2rem;
    text-align: center;
}

.dropzone i {
    margin: 1rem 0;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    color: var(--border);
}

body.dark .dropzone i {
    color: var(--accent);
}

.controls {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.2rem;
    margin-bottom: 1rem;
    background-color: var(--border);
    color: var(--accent);
    cursor: pointer;
}

.btn.primary {
    background: var(--accent);
    color: var(--border);
    border-radius: var(--radius);
}

/* ---------------- */
/* FEEDBACK SECTION */
/* ---------------- */

.stars {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.star {
    cursor: pointer;
}

/* ------------- */
/* GUIDE SECTION */
/* ------------- */
.steps {
    display: flex;
    gap: 1rem;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.badge {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
    color: var(--border);
    margin-bottom: 0.5rem;
}