/* ------------ */
/* DESKTOP VIEW */
/* ------------ */
@media (min-width: 768px) {
    .carousel-card {
        flex: 0 0 30%;
        /* ~3 cards visible */
    }


    .footer-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding-top: 1rem;
    }

}


/* ----------- */
/* TABLET VIEW */
/* ----------- */
@media (min-width: 1024px) {
    .carousel-card {
        flex: 0 0 18%;
    }
}