/* ------------ */
/* DESKTOP VIEW */
/* ------------ */
@media (min-width: 768px) {
    .carousel-card {
        flex: 0 0 30%;
        /* ~3 cards visible */
    }


    .footer-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding-top: 1rem;
        gap: 1rem;
    }

    .tab {
        flex: 0 0 auto;
        width: 33%;
    }

    .tool-box {
        width: calc(25% - 1rem);
        height: auto;
        margin: 0.5rem;
        padding: 1rem;
    }

}

/* ------ */
/* PDF UI */
/* ------ */
.steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ----------- */
/* TABLET VIEW */
/* ----------- */
@media (min-width: 1024px) {
    .carousel-card {
        flex: 0 0 18%;
    }
}