* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    font-style: normal;
    font-family: "DM Mono", monospace;
    --radius: 0.5rem;
    --bg-color: #FFFFFF;
    --fg-color: #202020;
    --accent-color: #FFCC2A;
    --border: #5A5050;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100Vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

body.dark {
    color: var(--bg-color);
    background-color: var(--fg-color);
}

/* FONT ELEMENT */
h2, i {
    font-size: clamp(1.25rem, 1rem + 1vw, 1.75rem);
    font-weight: bold;
    color: var(--border);
}

p, li {
    font-size: clamp(0.8rem, 0.5rem + 1vw, 1.25rem);
    color: var(--fg-color);
}

body.dark p {
    color: var(--bg-color);
}

/* ---- */
/* MAIN */
/* ---- */

main p {
    opacity: 0.8;
}

/* TAGLINE */
.word-animation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
}

.word-anime {
    width: 100px;
    animation: cycleWords 6s infinite;
    display: inline-block;
    text-align: center;
    border-radius: 0.4rem;
    color: var(--bg-color);
    background-color: var(--border);
}

@keyframes cycleWords {
    0% {
        content: "Upload";
    }

    33% {
        content: "Edit";
    }

    66% {
        content: "Share";
    }

    100% {
        content: "Upload";
    }
}

.word-anime::before {
    content: "Upload";
    animation: cycleContent 6s infinite;
}

@keyframes cycleContent {
    0% {
        content: "Upload";
    }

    33% {
        content: "Edit";
    }

    66% {
        content: "Share";
    }

    100% {
        content: "Upload";
    }
}

.carousel {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.swiper {
    width: 100%;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.slide-top {
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 2rem;
}

.slide-title {
    font-weight: bold;
}

.slide-bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/* SWIPER BUTTON */
.swiper-button-next,
.swiper-button-prev {
    color: var(--accent-color);
}


/* TOOL SECTION */
.tab-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    scrollbar-width: none;
    border-radius: var(--radius);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

body.dark .tab-bar {
    background-color: rgba(0, 0, 0, 0.35);
}

.tab-bar::-webkit-scrollbar {
    display: none;
}

.tab {
    flex: 0 0 auto;
    min-width: 6rem;
    text-align: center;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: background 0.3s;
}

.tab.active {
    color: var(--bg-color);
    background-color: var(--border);
}

.tab-content {
    margin-top: 1rem;
}

.content {
    display: none;
    border-radius: var(--radius);
}

.content.active {
    display: block;
}

/* TOOL SECTION */

.tool-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tool-box {
    width: calc(50% - 1rem);
    height: auto;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius);
    background-color: rgba(0, 0, 0, 0.2);
}

body.dark .tool-box {
    background-color: rgba(0, 0, 0, 0.35);
}

.tool-top {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
}

.tool-bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}