* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #202020;
    --tertiary-color: #FFCC2A;
    --quaternary-color: #0A5A4C;
    font-size: 16px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100Vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* FONT ELEMENT */
h2 {
    font-size: clamp(1.3rem, 1vw + 0.5rem, 2rem);
}

p {
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.6rem);
}

.header {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.branding {
    width: calc(100% - 1rem);
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.branding img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */

.main p {
    opacity: 0.8;
}

/* TAGLINE */
.word-animation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-size: clamp(1.3rem, 1vw + 0.5rem, 2rem);
}

.word {
    animation: cycleWords 6s infinite;
    display: inline-block;
    width: 100px;
    text-align: center;
    color: var(--tertiary-color);
}

@keyframes cycleWords {
    0% {
        content: "Upload";
    }

    33% {
        content: "Edit";
    }

    66% {
        content: "Share";
    }

    100% {
        content: "Upload";
    }
}

.word::before {
    content: "Upload";
    animation: cycleContent 6s infinite;
}

@keyframes cycleContent {
    0% {
        content: "Upload";
    }

    33% {
        content: "Edit";
    }

    66% {
        content: "Share";
    }

    100% {
        content: "Upload";
    }
}

